<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<manifest
    package="com.launchdarkly.example"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application android:networkSecurityConfig="@xml/network_security_config" />
</manifest>